
<template name="Neo4jDB">
  <p class="query">db = new Neo4jDB('<input type="text" name="url" value="http://localhost:7474">'<br />, { username: '<input type="text" name="username" value="neo4j">'<br />&nbsp;&nbsp;, password: '<input type="text" name="password" value="1234">'<br />})</p>
  <!--button type="button" class="copy">Copy</button-->
  <button type="submit" class="execute">Execute</button>
  <p><em>Result shown will be an extract of the db object that is returned. If the connection fails, no errors are thrown.</em></p>
</template>

<template name="Neo4jDB-description">
  <h2>Neo4jDB([url], [auth])</h2>
  <dl>
    <dt>url {String}</dt>
    <dd>Absolute URL to Neo4j server. Supports both http:// and https:// protocols</dd>
    <dt>auth {Object}</dt>
    <dd>User credentials
      <dl>
         <dt>username</dt>
         <dd>{String}</dd>
         <dt>password</dt>
         <dd>{String}</dd>
       </dl>
     </dd>
  </dl>
  <p>Creates a Neo4jDB instance and connects to a Neo4j database.</p>
  <h3>coffeescript</h3>
  <pre>db = new Neo4jDB 'http://localhost:7474'
, 
  username: 'neo4j'
  password: '1234'</pre>
  <h3>JavaScript</h3>
  <pre>db = new Neo4jDB(
  'http://localhost:7474'
, { username: 'neo4j'
  , password: '1234'
  }
)</pre>
</template>