html, body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 12.5px;
}

main {
  position: relative;
  height: 100%;
}

#left { /* side-by-side display of inspector and queries */
  width: 24em;
  height: 100%;
}

#right { /* vertical display of description, command and output */
  position: absolute;
  left: 24em;
  top: 0;
  width: calc(100% - 24em);
  height: 100%;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#inspector {
  width: 12em;
  height: 100%;
  background-color: #fee;

  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#inspector .find {
  width: 100%;
  height: 100%;
  
  -webkit-flex: 0 0 12em;
  -ms-flex: 0 0 12em;
  flex: 0 0 12em;
}

#inspector .find select {
  width: 100%;
}

#inspector .show {
  width: 100%;
  
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #edd;
  overflow: auto;
}

#queries {
  position: absolute;
  left: 12em;
  top: 0;
  width: 12em;
  height: 100%;
  background-color: #efe;
  overflow: auto;
}

#description {
  width: 100%;
  /*height: 50%;*/
  background-color: #eef;
  overflow: auto;

  -webkit-flex: 1 1 3em;
  -ms-flex: 1 1 3em;
  flex: 1 1 3em
}

#description h2 {
  font-family: monospace;
}

#description p {
  font-size: 1.25em;
}

ul, dl {
  /*font-family: monospace;*/
}
dt {
  font-weight: bold
}
dl dl {
  padding-left: 1em;
}

#command {
  width: 100%;
/*  height: 10%; */
  background-color: #dde;

  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

/*#command textarea {
  width: 100%;
  font-family: monospace;
  box-sizing: border-box;
}*/

#output {
  width: 100%;
  /*height: 40%;*/
  background-color: #ccd;
  overflow: auto;

  -webkit-flex: 1 0 3em;
  -ms-flex: 1 0 3em;
  flex: 1 0 3em
}

p.query,
p.query input,
#output {
  margin: 0;
  font-family: monospace;
  font-size: 1em;
}

/* templates:tabs */
textarea {
  position: relative;
  top: 6px;
  font-family: monospace;
 }

input[type=checkbox]:not(:checked) ~ *{
  color: #888;
}

.tabs-list {
  margin: 0;
  padding: 0 0.25em;
  background-color: #dfdfec;
}

.basicTabs-container .tabs-content-container {
  border-top: 1px solid #eef;
  /*padding: 0.25em;*/
}

.basicTabs-container .tabs-list .tab-item {
  padding: 7px 14px !important;
}

.basicTabs-container .tabs-list .tab-item.active {
  padding: 8px 15px !important;
  border: 1px solid #eef;
  border-bottom: none;
  border-radius: 3px;
  background-color: #dde;
}