html, body {
  margin: 0;
  height: 100%;
}

body {
  font-size: 12.5px;
}

main {
  position: relative;
  height: 100%;
}

#left { /* side-by-side display of inspector and queries */
  width: 24em;
  height: 100%;
}

#right { /* vertical display of description, command and output */
  position: absolute;
  left: 24em;
  top: 0;
  width: calc(100% - 24em);
  height: 100%;  
}

#inspector {
  width: 12em;
  height: 100%;
  background-color: #fee;

  display: -webkit-flex;
  -webkit-flex-direction: column;

  display: flex;
  flex-direction: column;
}

#inspector .find {
  width: 100%;
  
  -webkit-flex: 0 0 12em;
  flex: 0 0 12em;
}

#inspector .find select {
  width: 100%;
}

#inspector .show {
  width: 100%;
  
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  background-color: #edd;
  overflow: auto;
}


#inspector .find {
  width: 100%;
  height: 100%;
}

#queries {
  position: absolute;
  left: 12em;
  top: 0;
  width: 12em;
  height: 100%;
  background-color: #efe; 
}

#description {
  width: 100%;
  height: 30%;
  background-color: #eef;
}

#command {
  width: 100%;
  height: 10%;
  background-color: #dde;
}

#output {
  width: 100%;
  height: 60%;
  background-color: #ccd;
}