
<template name="constraint.drop">
  <pre id="query-string">db.constraint.drop( {{#userInput}}
  {{> label}}
, {{> key}}
, {{> type optional=true type="UNIQUENESS"}}
)
{{/userInput}}</pre>
</template>


<template name="constraint.drop-description">
  <h2>constraint.drop(label, key[, type])</h2>
  <dl>
    <dt><code>label</code> {String}</dt>
    <dd>Label name</dd>
    <dt><code>key</code> {String}</dt>
    <dd>Key</dd>
    <dt><code>type</code> {String}</dt>
    <dd>Type of constraint to drop, default uniqueness</dd>
  </dl>
  <p>Removes (drops) a constraint for the given label. See the <a href="http://neo4j.com/docs/2.2.5/rest-api-schema-constraints.html#rest-api-get-a-specific-uniqueness-constraint">Neo4j reference</a> for more information.</p>
  <h3>coffeescript</h3>
  <pre>db.nodes({uuid: 123}).labels.set 'Person'
db.constraint.create 'Person', ['uuid']
db.constraint.drop 'Person', 'uuid'</pre>
  <h3>JavaScript</h3>
  <pre>db.nodes({uuid: 123}).labels.set('Person')
db.constraint.create('Person', ['uuid'])
db.constraint.drop('Person', 'uuid')</pre>
</template>