<template name="api">
  <main>
    <div id= "left">
      {{> inspector}}
      {{> queries}}
    </div>
    <div id="right">
      {{> description}}
      {{> command}}
      {{> output}}
    </div>
  </main>
</template>

<template name="inspector">
  <div id="inspector">
    <div class="find">
      <span>Show</span>
      <select name="elementType">
        <option value="nodes">Nodes</option> 
        <option value="edges">Edges</option>
      </select>
      <select name="elements" size="8">
        {{#each elements}}
          <option value="{{id}}">{{id}}{{display}}</option>
        {{/each}}
      </select>
    </div>
    <div class="show">
      <p>{{{selected_element}}}</p>
    </div>
  </div>
</template>

<template name="queries">
  <div id="queries">
    <!-- <select name="queries" size="10"> -->
      {{#each queries}}
        <!-- <option value="{{query}}">{{query}}</option>  -->
        <p><a href="#{{id}}">{{query}}</a></p>
      {{/each}}
    <!-- </select> -->
  </div>
</template>

<template name="description">
  <div id="description">
    {{> Template.dynamic template=description}}
  </div>
</template>

<template name="command">
  <div id="command">
    {{> Template.dynamic template=command}}
  </div>
</template>

<template name="output">
  <div id="output">
    {{{output}}}
  </div>
</template>

<!-- <template name="stnh">
  {{> Neo4jDB}}
  {{> propertyKeys}}
  {{> labels}}
  {{> relationshipTypes}}
  {{> query}}
  {{> queryOne}}
  {{> querySync}}
  {{> queryAsync}}
  {{> graph}}
  {{> cypher}}
  {{> batch}}
</template> -->

