<template name="api">
  <main>
    <div id= "left">
      {{> inspector}}
      {{> queries}}
    </div>
    <div id="right">
      {{> description}}
      {{> command}}
      {{> output}}
    </div>
  </main>
</template>

<template name="inspector">
  <div id="inspector">
    <div class="find">
      <span><span>Show</span><button type="button">Refresh</button></span> 
      <select name="elementType">
        <option value="nodes">Nodes</option> 
        <option value="edges">Relationships</option>
      </select>
      <select name="elements" size="12">
        {{#each elements}}
          <option value="{{id}}">{{id}}{{display}}</option>
        {{/each}}
      </select>
    </div>
    <div class="show">
      <p>{{{selected_element}}}</p>
    </div>
  </div>
</template>

<template name="queries">
  <div id="queries">
      {{#each queries}}
        {{#if disabled}}<p><a href="#{{id}}" class="disabled">{{query}}</a></p>
        {{else}}
        <p><a href="#{{id}}">{{query}}</a></p>{{/if}}  
      {{/each}}
  </div>
</template>

<template name="description">
  <div id="description">
    {{> Template.dynamic template=description}}
  </div>
</template>

<template name="command">
  <div id="command">
    {{> Template.dynamic template=command}}
  </div>
</template>

<template name="output">
  <div id="output">
    {{{output}}}
  </div>
</template>