<template name="graph">
  <div id="graph"></div>
</template>

<template name="form">
  <div id="form">
    {{> startNode}}
    {{> edge}}
    {{> endNode}}
  </div>
</template>

<template name="startNode">
  <table class="{{class}}">
    <tr>
      {{#if selected}}
        <th colspan="2" style="text-align:center;">Start node</th>
      {{else}}
        <th colspan="2" style="text-align:center;">New node</th>
      {{/if}}
    </tr>
    <tr>
      <td>id</td>
      <td>{{id}}</td>
    </tr>
    <tr>
      <td>name</td>
      <td><input type="text" name="label" placeholder="add node name" value="{{label}}"></td>
    </tr>
    <tr>
      <td>{{group}}</td>
      <td>{{> groups}}</td>
    </tr>
    <tr>
      <td>updatedAt</td>
      <td>{{updatedAt}}</td>
    </tr>
    <tr>
      <td>custom</td>
      <td><input type="text" name="custom" placeholder="add custom value" value="{{custom}}"></td>
    </tr>
    <tr>
      <td colspan="2">
        {{> nodeButtons}}
      </td>
    </tr>
  </table>
</template>

<template name="groups">
  <select name="group">
    <option value='' disabled selected style='display:none;'>Select...</option>
    <option value="Person">Person</option> 
    <option value="Place">Place</option>
    <option value="Object">Object</option>
  </select>
</template>

<template name="nodeButtons">
  <button type="button" name="delete" {{delete_disabled}}>Delete</button>
  <button type="button" name="update" {{update_disabled}}>Update</button>
  <button type="button" name="create" {{create_disabled}}>Create</button>
</template>

<template name="edge">
  <table class="{{class}}">
    {{#if selected}}
      <tr>  
        <th colspan="2">Edge</th>
      </tr>
      <tr>
        <td>id</td>
        <td>{{id}}</td>
      </tr>
      <tr>
        <td>type</td>
        <td>{{> edgeTypes}}</td>
      </tr>
      <tr>
        <td>updatedAt</td>
        <td>{{updatedAt}}</td>
      </tr>
      <tr>
        <td>custom</td>
        <td><input type="text" name="custom" placeholder="add custom value" value="{{custom}}"></td>
      </tr>
      <tr>
        <td colspan="2">
          {{> edgeButtons}}
        </td>
      </tr>
    {{/if}}
  </table>
</template>

<template name="edgeTypes">
  <select name="type">
    <option value='' disabled selected style='display:none;'>Select...</option>
    <option value="KNOWS">KNOWS</option> 
    <option value="LIKES">LIKES</option>
    <option value="OWNS">OWNS</option>
    <option value="IN">IN</option>
    <option value="CONTAINS">CONTAINS</option>
  </select>

</template>

<template name="edgeButtons">
  <button type="button" {{delete_disabled}}>Delete</button>
  <button type="button" {{update_disabled}}>Update</button>
  <button type="button" {{create_disabled}}>Create</button>
</template>

<template name="endNode">
  <table class="{{class}}">
    {{#if selected}}
      <tr>  
        <th colspan="2">End node</th>
      </tr>
      <tr>
        <td>id</td>
        <td>{{id}}</td>
      </tr>
      <tr>
        <td>name</td>
        <td>{{label}}</td>
      </tr>
      <tr>
        <td>group</td>
        <td>{{group}}</td>
      </tr>
      <tr>
        <td>updatedAt</td>
        <td>{{updatedAt}}</td>
      </tr>
      <tr>
        <td>custom</td>
        <td>{{custom}}</td>
      </tr>

    {{else}}
      {{#if start_selected}}
        {{> selectEndMessage}}
      {{else}}
        {{> selectStartMessage}}
      {{/if}}     
    {{/if}}
  </table>
</template>

<template name="selectStartMessage">
  <p>Select a start node<br />
  or create a new node</p>
</template>

<template name="selectEndMessage">
  <p>Select an end node</p>
</template>