
<template name="userInput">
  {{> Template.contentBlock}}
<button type="submit" class="execute">Execute</button>
</template>

<template name="stringOrObject">  
  {{#basicTabs tabs=tabs}}

    {{#tabContent slug="string"}}
      <pre id="query-string">db.{{command}}( {{#userInput}}
  <!-- {{#if this.query}}
    {{> cypher_query query=this.query}}
  {{else}} -->
    {{> cypher_query}}
  <!-- {{/if} -->
, {{> opts optional=true}}
, {{> callback optional=true}}
).fetch()
{{/userInput}}</pre>
    {{/tabContent}}

    {{#tabContent slug="object"}}
      <pre id="query-object">db.{{command}}({ {{#userInput}}
  {{> cypher_query key=true}}
, {{> opts key=true optional=true}}
, {{> reactive key=true optional=true}}
, {{> callback key=true optional=true}}
}).fetch()
{{/userInput}}</pre>
    {{/tabContent}}

  {{/basicTabs}}
  <p><em>If an exception occurs for an invalid query, see the Terminal window for more details.</em></p>
</template>

<template name="cypher_query">
<span>{{#if this.optional}}<input type="checkbox" id="cypher">{{/if}}{{#if this.key}}<label for="cypher">cypher: </label>{{/if}}'<textarea id="cypher_query" rows="3" cols="60"
>{{#if this.query}}{{this.query}}{{else}}{{cypher_query}}{{/if}}</textarea>'</span>
</template>

<template name="properties">
<span>{{#if this.optional}}<input type="checkbox" id="properties" {{checked}}>{{/if}}{{#if this.key}}<label for="properties">properties: </label>{{/if}}<span>{</span> <textarea id="property" rows="1" cols="60" placeholder="Properties" data-type="object">{{properties}}</textarea> <span>}</span></span>
</template>

<template name="opts">
<span>{{#if this.optional}}<input type="checkbox" id="opts" {{checked}}>{{/if}}{{#if this.key}}<label for="opts">opts: </label>{{/if}}<span>{</span> <textarea id="options" rows="1" cols="60" data-type="object">{{opts}}</textarea> <span>}</span></span>
</template>

<template name="reactive">
<span>{{#if this.optional}}<input type="checkbox" id="reactive">{{/if}}{{#if this.key}}<label for="reactive">reactive: </label>{{/if}}<select name="reactive" data-type="boolean" {{disabled}}>
  <option value="true" selected>true</option> 
  <option value="false">false</option>
</select></span>
</template>

<template name="callback">
<span>{{#if this.optional}}<input type="checkbox" id="callback">{{/if}}{{#if this.key}}<label for="callback">callback: </label>{{/if}}<span>function (error, data) {</span>
    <textarea rows="1" cols="60" data-type="function">console.log(error, data)</textarea>
  <span>}</span></span>
</template>