
<template name="nodes">
   {{#basicTabs tabs=tabs}}

    {{#tabContent slug="number"}}
      <pre id="query-string">db.nodes( {{#userInput}}
  {{> node optional=true}}
, {{> reactive optional=true}}
).get()
{{/userInput}}</pre>
    {{/tabContent}}

    {{#tabContent slug="object"}}
      <pre id="query-object">db.nodes( {{#userInput}}
  {{> node optional=true object=true}}
, {{> reactive optional=true}}
).get()
{{/userInput}}</pre>
    {{/tabContent}}

  {{/basicTabs}}
</template>

<template name="node">
  <span>{{#if this.optional}}<input type="checkbox">{{/if}}{{#if this.object}}{<textarea id="node-data" rows="3" cols="60" data-type="object">{{node_props}}</textarea>}{{else}}<input type="text" name="node" value="{{node_id}}" placeholder="{{#if this.placeholder}}{{this.placeholder}}{{else}}Node id{{/if}}" data-type="number">{{/if}}</span> 
</template>


<template name="nodes-description">
  <h2>nodes([id, [reactive]])</h2>
  <dl>
    <dt><code>id</code> {Number | Object} </dt>
    <dd>[Optional] If the <code>id</code> argument is a number, then the corresponding node will be fetched from Neo4j. If it is an Object, then a new node will be created with given properties.</dd>
    <dt><code>reactive</code> {Boolean}</dt>
    <dd>If <code>reactive</code> is <code>true</code>, the data of the associated node will be updated before returning.</dd>
  </dl>
  <p>Creates or gets a node object. A new node will be created unless the id of an existing node is passed as a numerical argument. See the <a href="http://neo4j.com/docs/2.2.5/rest-api-nodes.html">Neo4j reference</a> for more info.</p>
  <ul>
  <li>Returns: {<a href="https://github.com/VeliovGroup/neo4j-fiber/wiki/Neo4jNode-Class">Neo4jNode</a>} - Neo4jNode instance</li>
  </ul>
  <h3>script</h3>
  <pre>db.nodes().get()
db.nodes({prop: 'value'}).get()
db.nodes(123).get()</pre>
  <p>The demo below uses <code>nodes(...).get()</code>. See <a href="https://github.com/VeliovGroup/neo4j-fiber/wiki/Neo4jNode-Class">Neo4jNode-Class</a> for all the operations that are possible with a Neo4j Node object.</p>
</template>