
<template name="index.get">
  <pre id="query-string">db.index.get( {{#userInput}}
  {{> label optional=true}}
)
{{/userInput}}</pre>
</template>

<template name="index.get-description">
  <h2>index.get(label)</h2>
  <dl>
    <dt><code>label</code> {String}</dt>
    <dd>Label name</dd>
  </dl>
  <p>Gets the indexes for the given label. See the <a href="http://neo4j.com/docs/2.2.5/rest-api-schema-indexes.html#rest-api-list-indexes-for-a-label">Neo4j reference</a> for more information.</p>
  <ul>
  <li>Returns: {Object}</li>
  </ul>
  <h3>coffeescript</h3>
  <pre>db.nodes({uuid: 123}).labels.set 'Person'
db.index.create 'Person', ['uuid']
db.index.get 'Person'
db.index.get() # All DB-wide indexes</pre>
  <h3>JavaScript</h3>
  <pre>db.nodes({uuid: 123}).labels.set('Person')
db.index.create('Person', ['uuid'])
db.index.get('Person')
db.index.get() // All DB-wide indexes</pre>
</template>