
<template name="index_get">
  <p class="query">db = new Neo4jDB('<input type="text" name="url" value="http://localhost:7474">'<br />, { username: '<input type="text" name="username" value="neo4j">'<br />&nbsp;&nbsp;, password: '<input type="text" name="password" value="1234">'<br />})</p>
  <!--button type="button" class="copy">Copy</button-->
  <button type="submit" class="execute">Execute</button>
</template>

<template name="index_get-description">
  <h2>index.get(label)</h2>
  <dl>
    <dt><code>label</code> {String}</dt>
    <dd>Label name</dd>
  </dl>
  <p>Gets the indexes for the given label. See the <a href="http://neo4j.com/docs/2.2.5/rest-api-schema-indexes.html#rest-api-list-indexes-for-a-label">Neo4j reference</a> for more information.</p>
  <ul>
  <li>Returns: {Object}</li>
  </ul>
  <h3>coffeescript</h3>
  <pre>db.nodes({uuid: 123}).labels.set 'Person'
db.index.create 'Person', ['uuid']
db.index.get 'Person'
db.index.get() # All DB-wide indexes</pre>
  <h3>JavaScript</h3>
  <pre>db.nodes({uuid: 123}).labels.set('Person')
db.index.create('Person', ['uuid'])
db.index.get('Person')
db.index.get() // All DB-wide indexes</pre>
</template>