
<template name="queryOne">
  <pre id="query-object">db.queryOne({ {{#userInput}} 
 {{> cypher_query query="MATCH (n) RETURN n LIMIT 1"}}
, {{> opts optional=true}}
{{/userInput}}}</pre>
</template>

<template name="queryOne-description">
 <h2>queryOne(cypher, [options])</h2>
  <dl>
    <dt><code>cypher</code> {String}</dt>
    <dd>Cypher query as a String</dd>
    <dt><code>options</code> {Object}</dt>
    <dd>Map of cypher query parameters</dd>
  </dl>
  <p>Shortcut for query, which returns the first result from your query as plain Object.</p>
  <ul>
  <li>Returns: {Object}</li>
  </ul>
  <h3>script</h3>
  <pre>db.queryOne("MATCH (n) RETURN n LIMIT 1").n</pre>
</template>