
<template name="constraint.create">
  <pre id="query-string">db.constraint.create( {{#userInput}}
  {{> label}}
, {{> keys}}
, {{> type optional=true type="UNIQUENESS"}}
)
{{/userInput}}</pre>
</template>

<template name="constraint.create-description">
  <h2>constraint.create(label, keys[, type])</h2>
  <dl>
    <dt><code>label</code> {String}</dt>
    <dd>Label name</dd>
    <dt><code>keys</code> {[String]}</dt>
    <dd>Keys</dd>
    <dt><code>type</code> {String}</dt>
    <dd>Constraint type, default uniqueness</dd>
  </dl>
  <p>Create a constraint for a label. See the <a href="http://neo4j.com/docs/2.2.5/rest-api-schema-constraints.html#rest-api-create-uniqueness-constraint">Neo4j reference</a> for more information.</p>
  <ul>
  <li>Returns: {Object}</li>
  </ul>
  <h3>coffeescript</h3>
  <pre>db.nodes({uuid: 123}).labels.set 'Person'
db.constraint.create 'Person', ['uuid']</pre>
  <h3>JavaScript</h3>
  <pre>db.nodes({uuid: 123}).labels.set('Person')
db.constraint.create('Person', ['uuid'])</pre>
</template>