
<template name="transaction">
  <p class="query">db = new Neo4jDB('<input type="text" name="url" value="http://localhost:7474">'<br />, { username: '<input type="text" name="username" value="neo4j">'<br />&nbsp;&nbsp;, password: '<input type="text" name="password" value="1234">'<br />})</p>
  <!--button type="button" class="copy">Copy</button-->
  <button type="submit" class="execute">Execute</button>
</template>


<template name="transaction-description">
  <h2>transaction([settings, options])</h2>
  <dl>
    <dt><code>settings</code> {Function | Object | String | [String]}</dt>
    <dd>[Optional] Cypher query as String or Array of Cypher queries or object of settings
    <dl>
      <dt><code>settings.cypher</code> {String | [String]}</dt>
      <dd>Cypher query(ies), alias: <code>settings.query</code></dd>
      <dt><code>settings.opts</code> {Object}</dt>
      <dd>Map of parameters for the cypher queries, aliases: <code>settings.parameters</code>, <code>settings.params</code></dd>
      <dt><code>settings.resultDataContents</code> {[String]}</dt>
      <dd>Array of contents to return from Neo4j, like: REST, row or graph. Default: ['REST']</dd>
      <dt><code>settings.reactive</code> {Boolean}</dt>
      <dd>Reactive nodes update when data is retrieved from the <a href="https://github.com/VeliovGroup/neo4j-fiber/wiki/Neo4jCursor-Class">Neo4jCursor</a>. Default: <code>false</code>. Alias: <code>settings.reactiveNodes</code></dd>
      <dt>settings.callback {Function}</dt>
      <dd>Callback function. If passed, the method runs asynchronously. Alias: <code>settings.cb</code></dd>
    </dl>
    </dd>
    <dt><code>options</code> {Object}</dt>
    <dd>[Optional] Map of cypher query(ies) parameters</dd>
  </dl>
  <p>Opens a <a href="https://github.com/VeliovGroup/neo4j-fiber/wiki/Neo4jTransaction-Class">Neo4j Transaction</a>. All methods on the Neo4jTransaction instance are chainable. See the <a href="http://neo4j.com/docs/2.2.5/rest-api-transactional.html#rest-api-begin-a-transaction">Neo4j reference</a> for more information.</p>
  <ul>
  <li>Returns: {Neo4jTransaction} - <a href="https://github.com/VeliovGroup/neo4j-fiber/wiki/Neo4jTransaction-Class">Neo4jTransaction</a> instance</li>
  </ul>
  <h3>script</h3>
  <pre>db.transaction("MATCH (n) RETURN n").commit()
  
db.transaction([
    "CREATE (n:Person)"
  , "MATCH (n:Person) SET n.id = {id} RETURN n"
  ]
, {id})
.commit()[1]
.fetch()</pre>
</template>